.cat-habits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;

  &__header {
    color: var(--basic-black);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
  }

  &__cat-comment {
    font-family: var(--oswald-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--special-dark-grey);
    text-transform: uppercase;
    text-align: center;
    width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .cat-habits {
    &__header {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 76px;
    }

    &__cat-comment {
      padding-left: 20px;
      padding-top: 10px;
      font-size: 20px;
      line-height: 30px;
      width: 631px;
      text-align: left;
    }
  }
}
