.map {
  width: 100%;
  height: 362px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-color: var(--basic-grey);
  background-size: 320px 362px;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .map {
    width: 100%;
    height: 400px;
    background: url("../img/bg-map-tablet@1x.png") no-repeat;
    background-color: var(--basic-grey);
    background-position: center;
  }
}

@media (min-width: @desktop-width) {
  .map {
    height: 400px;
    background: url("../img/bg-map-desktop@1x.png") no-repeat;
    background-color: var(--basic-grey);
    background-position: center;
  }
}
