.progress__wrapper {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .progress {
    background-color: var(--basic-grey);
  }

  .progress__wrapper {
    margin: 0 auto;
    width: 700px;
    padding: 0 30px;
  }
}
