.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.social__vk {
  width: 23px;
  height: 16px;
}

.social__insta {
  width: 16px;
  height: 16px;
}

.social__fb {
  width: 22px;
  height: 22px;
}

.social__list-item {
  margin-right: 35px;
}

@media (min-width: @tablet-width) {
  .social__list-item {
    margin-right: 20px;
  }
}
