.type__input{
  font-family: var(--oswald-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-dark-grey-2);
}

.type__label{
  color: var(--special-dark-grey-2);
  font-family: var(--oswald-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
